@import "../../styles/variables.scss";

#about-container {
  padding: 0 20px;
  overflow: hidden;

  .about-one,
  .about-two {
    display: flex;
    flex-direction: column;
    grid-row-gap: 60px;
    margin-bottom: 80px;

    .about-text {
      h3 {
        font-size: 32px;
        color: $color-text-white;
        line-height: 115%;
        margin-bottom: 30px;

        span {
          font-weight: 800;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          background-image: $gradient-text-hero;
        }
      }

      p {
        color: $color-text-white;
        font-size: 16px;
      }
    }
  }

  .about-one {
    .about-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      .img-one {
        max-width: 95%;
      }

      .img-two {
        max-width: 100%;
        position: absolute;
        bottom: -60px;
      }
    }
  }

  .about-two {
    margin-bottom: 0;
    .about-text {
      h3 {
        text-align: center;
      }
    }

    .about-video {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        max-width: 320px;
        overflow: hidden;
      }

      video {
        width: 300px;
        height: 96%;
        border-radius: 45px;
        background-size: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 768px) {
  #about-container {
    padding: 0 50px;
    .about-one {
      flex-direction: row;
      grid-column-gap: 10px;
      justify-content: space-between;
      align-items: center;

      .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        h3 {
          font-size: 36px;
        }

        p {
          max-width: 450px;
          line-height: 150%;
          font-size: 20px;
        }
      }

      .about-img {
        width: 50%;
        align-items: flex-end;

        .img-one {
          max-width: 80%;
        }

        .img-two {
          max-width: 70%;
          bottom: 90px;
          left: 0%;
        }
      }
    }

    .about-two {
      flex-direction: row-reverse;
      grid-column-gap: 10px;

      .about-text {
        display: flex;
        flex-direction: column;
        align-items: self-start;
        justify-content: center;
        width: 50%;
        h3 {
          text-align: start;
        }

        p {
          max-width: 430px;
          line-height: 150%;
          font-size: 20px;
        }
      }

      .about-video {
        width: 50%;
        justify-content: flex-start;
        img {
          max-width: 80%;
          overflow: hidden;
        }

        video {
          width: 76%;
          height: 98%;
          border-radius: 45px;
          background-size: cover;
          position: absolute;
          top: 50%;
          left: 40%;
          transform: translate(-50%, -50%);
          object-fit: cover;
        }
      }
    }
  }
}

@media (min-width: 955px) {
  #about-container {
    padding: 0 150px;

    .about-one {
      grid-column-gap: 0;
      .about-img {
        width: 50%;
        align-items: flex-end;

        .img-one {
          max-width: 60%;
        }

        .img-two {
          max-width: 60%;
        }
      }
    }

    .about-two {
      .about-text {
        align-items: center;

        h3 {
          width: 430px;
          text-align: justify;
        }
      }
      .about-video {
        img {
          max-width: 70%;
        }

        video {
          width: 65%;
          height: 98%;
          border-radius: 45px;
          background-size: cover;
          position: absolute;
          top: 50%;
          left: 35%;
          transform: translate(-50%, -50%);
          object-fit: cover;
        }
      }
    }
  }
}
