$color-background: #1a0924;
$color-primary: #7223cf;
$color-text-title: black;
$gradient-button-off: linear-gradient(45deg, #e72fb6 7%, #8625cb);
$gradient-button-active: linear-gradient(45deg, black, black);
