@import "../../styles/variables.scss";

#client-trust-container {
  padding: 80px 0;
  width: 100%;
  overflow: hidden;

  h3 {
    text-align: center;
    color: $color-text-white;
    font-size: 32px;
  }

  #client-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
