@import "../../styles/variables.scss";

#header-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 5px 20px 0;

  #menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
  }

  .hamburger {
    background: none;
    border: none;
    font-size: 35px;
    color: black;
    cursor: pointer;
  }

  #logo-img {
    width: 115px;
  }

  #nav-container {
    display: none;
    flex-direction: column;
    background-color: $color-background;
    padding: 100px 20px;

    #close-menu {
      position: absolute;
      top: 35px;
      right: 30px;
    }

    #close-menu:hover {
      color: $color-primary;
    }

    #nav-links-container {
      border-top: $border-header-nav;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 526px;
      padding-top: 95px;
      position: relative;

      #nav-options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 35px;
      }

      a {
        text-decoration: none;
        font-size: 32px;
        font-weight: 600;
        color: $color-text-white;
      }

      a:hover {
        color: $color-primary;
      }

      #nav-icons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        gap: 12px;
        padding-top: 30px;

        a {
          border: 1px solid white;
          padding: 12px 14px;
          border-radius: 50%;
        }

        .icons {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    &.active {
      display: flex;
      flex-direction: column;
      justify-content: start;
      position: absolute;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
    }
  }
  #button-header-contact {
    display: none;
    padding: 30px 0;
    border-bottom: $border-header-nav;

    &.active {
      display: flex;
    }
  }

  #hero-box {
    color: black;
  }
}

@media (min-width: 600px) and (max-width: 1025px) {
  #header-container {
    #menu-container {
      padding: 25px 0;
    }

    #logo-img {
      width: 196px;
    }

    #nav-container {
      padding: 110px 48px;

      #close-menu {
        top: 40px;
      }

      #nav-links-container {
        #nav-options {
          a {
            font-weight: 800;
          }
        }
        #nav-icons-container {
          justify-content: start;
        }
      }
    }
  }
}

@media (min-width: 1026px) {
  #header-container {
    padding: 30px 98px 0;

    #menu-container {
      width: 100%;

      #img-container {
        width: 35%;
      }
    }

    .hamburger {
      display: none;
    }

    #logo-img {
      width: 196px;
    }

    #nav-container {
      display: block;
      padding: 0;
      background-color: white;

      #close-menu {
        display: none;
      }

      #nav-links-container {
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 0;
        width: 100%;
        padding-top: 0;

        #teste {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }

        #nav-options {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }

        a {
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
          color: $color-text-title;
        }

        a:hover {
          color: $color-primary;
        }

        #nav-icons-container {
          display: none;
        }
      }
      &.desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
    #button-header-contact {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      border-bottom: none;

      #default-button {
        display: flex;
        gap: 10px;
        padding: 16px 24px;
        color: $color-text-white;
        width: 180px;
        background-color: white;
        cursor: pointer;
        background-image: $gradient-button-active, $gradient-button-off;
        background-size: 0 100%, 100% 100%;
        background-repeat: no-repeat;
        transition: background-size 0.5s ease;

        svg {
          path {
            fill: white;
          }
        }
        &:hover {
          background-size: 100% 100%;
        }
      }
    }
  }
}

@media (min-width: 1150px) {
  #header-container {
    padding: 30px 80px 0;
    #menu-container {
      #img-container {
        width: 40%;
      }
    }
  }
}

@media (min-width: 1180px) {
  #header-container {
    padding: 30px 95px 0;
    #menu-container {
      #img-container {
        width: 47%;
      }
    }
  }
}
