@import "styles/variables.scss";

#root {
  margin: 0 auto;
  padding: 0;
  background-color: $color-background;

  min-height: 100vh;
  min-width: 100vw;
}

main {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

@keyframes appear {
  from {
  }

  to {
  }
}
